# **Tarea Nº 1**

Nota: 18
Adicional: 1

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Jueves 4 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: Adriana Torres y Nestor Canales
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

# 1. Git


a. Commit, Push, Pull

Instrucciones:
1. Cada miembro del equipo debe clonar el repo de su tarea en su computadora
1. Luego, en el branch master (`main`), el integrante Nº 1 cambia el nombre del archivo `.ipynb` a `tarea_1.ipynb`
1. Usando GitHub Desktop, el integrante Nº 2 notará que hay cambios en el repo. Por lo tanto, hará el `pull` de la nueva versión del repo. Ahora ambos tiene el archivo con el nombre apropiado en sus computadoras

*Este ejercicio se calificará directamente en GitHub*

b. Merge conflicts (opcional)

1. El integrante Nº 1 abre un branch nuevo `merge_conflict_practice_1`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 2 abre un branch nuevo `merge_conflict_practice_2`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 1 hará un `pull request`
1. El integrante Nº 2 hará el `review` del `pull request`, aceptará los cambios de su compañero y hará `merge` del branch al `master`. ¡Listo, completaste tu primer pull request!
1. El integrante Nº 2 hará un `pull request`
1. El integrante Nº 1 hará el `review` del `pull request` y habrá un `merge conflict` poeque ambos están cambiando la misma línea de código. Ajuste el archivo y complete el `merge``
Cambie de roles y fuerce un `merge conflict` con una sección diferente del archivo `tarea_1.ipynb` (Fecha de entrega, nombre del curso, etc.)
1. Explique muy brevemente porque se generó el `merge conflict`

*Respuesta: ______________________________*

# 2. Variables

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [16]:
monthly_savings = 10
num_months = 12
intro = "Hello! How are you?"

a. Calculate year_savings using monthly_savings and num_months

In [17]:
# Calculate the product of monthly_savings and num_months
year_savings = monthly_savings*num_months
year_savings

120

b. Print the type of year_savings

In [19]:
# What do you think the resulting type will be? Find out by printing out the type of year_savings.
print(type(year_savings)) # I think the result would be a number, especifically "int"

<class 'int'>

c. Assign sum of intro and intro to doubleintro

In [20]:
# Calculate the sum of intro and intro and store the result in a new variable doubleintro.
doubleintro = intro + intro
doubleintro

'Hello! How are you?Hello! How are you?'

d. Print out doubleintro

In [21]:
# Print out doubleintro. Did you expect this?
print(doubleintro)
#No esperaba esto porque esperaba que hubiera un espacio entre el intro e intro

Hello! How are you?Hello! How are you?

# 3. Lists

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [1]:
import numpy as np
f_list = ["Brazil", np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'new', 'teacher', 'assistant', 'is', 'so', 'boring.']
p1_list = [ 2 , 3, 4, 5 , 6 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1, 91 ]
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

a. Show the indices of the `np.nan`` values in the `f_list` list. We want to see this output: *The indices 1, 2, 5, 8 have np.nan values*. Hint: Use print function and f-strings to insert the indices values.

In [22]:
# Show indices for np.nan values
print("The indices "+str(f_list.index(np.nan))+", "+str(f_list.index(np.nan,2))+", "+str(f_list.index(np.nan,3))+", "+str(f_list.index(np.nan,6))+" have np."+str(f_list[1])+" values")

The indices 1, 2, 5, 8 have np.nan values

b. Replicate 4 times the values of the list `p1_list`. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [23]:
# Replicates p1_list
p1_list*4

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

c. Print the length of `f_list`. **Hint: Length function**

In [24]:
# Lenngth of f_list
len(f_list)

9

d. Print `My new teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [25]:
# Printing
print(str(text1[0])+" "+str(text1[1])+" "+str(text1[2])+" "+str(text1[3])+" "+str(text1[4])+" "+str(text1[5])+" "+str(text1[6]))

My new teacher assistant is so boring.

e. Using `values1`, print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [26]:
# Printing
print("The max value of values1 is "+str(max(values1))+" and is located in the "+str(values1.index(max(values1)))+" index.")
print("The min value of values1 is "+str(min(values1))+" and is located in the "+str(values1.index(min(values1)))+" index.")

The max value of values1 is 91 and is located in the 10 index.
The min value of values1 is 0 and is located in the 7 index.

f. Get two lists: `given_names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [7]:
# Two lists
# Con el len(last_and_name), sé que su tamaño es de 50
lastname = list(map(lambda x: x.split(", "), last_and_name))
given_names = [lastname[0][1],lastname[1][1],lastname[2][1],lastname[3][1],lastname[4][1],lastname[5][1],lastname[6][1],lastname[7][1],lastname[8][1],lastname[9][1]
               ,lastname[10][1],lastname[11][1],lastname[12][1],lastname[13][1],lastname[14][1],lastname[15][1],lastname[16][1],lastname[17][1],lastname[18][1],lastname[19][1]
               ,lastname[20][1],lastname[21][1],lastname[22][1],lastname[23][1],lastname[24][1],lastname[25][1],lastname[26][1],lastname[27][1],lastname[28][1],lastname[29][1]
               ,lastname[30][1],lastname[31][1],lastname[32][1],lastname[33][1],lastname[34][1],lastname[35][1],lastname[36][1],lastname[37][1],lastname[38][1],lastname[39][1]
               ,lastname[40][1],lastname[41][1],lastname[42][1],lastname[43][1],lastname[44][1],lastname[45][1],lastname[46][1],lastname[47][1],lastname[48][1],lastname[49][1],lastname[50][1]]
last_names = [lastname[0][0],lastname[1][0],lastname[2][0],lastname[3][0],lastname[4][0],lastname[5][0],lastname[6][0],lastname[7][0],lastname[8][0],lastname[9][0]
               ,lastname[10][0],lastname[11][0],lastname[12][0],lastname[13][0],lastname[14][0],lastname[15][0],lastname[16][0],lastname[17][0],lastname[18][0],lastname[19][0]
               ,lastname[20][0],lastname[21][0],lastname[22][0],lastname[23][0],lastname[24][0],lastname[25][0],lastname[26][0],lastname[27][0],lastname[28][0],lastname[29][0]
               ,lastname[30][0],lastname[31][0],lastname[32][0],lastname[33][0],lastname[34][0],lastname[35][0],lastname[36][0],lastname[37][0],lastname[38][0],lastname[39][0]
               ,lastname[40][0],lastname[41][0],lastname[42][0],lastname[43][0],lastname[44][0],lastname[45][0],lastname[46][0],lastname[47][0],lastname[48][0],lastname[49][0],lastname[50][0]]
print(given_names)
print(last_names)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

# Correct code> last_names = list(map(lambda x: x.split(', ')[0], last_and_name))
# Grading: -1

g. (Opcional) Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [16]:
# List of of those who do not have email

# 4.   Tuple

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object

In [2]:
# Print
print(tuple1[1][0])

10

2. Print the last item of the tuple1 object

In [3]:
# Print
print(tuple1[-1])

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output

In [4]:
# Change value
tuple1 = ("Pink Grapefruit", [10, 20, 30], (5, 15, 25))
print(tuple1)

('Pink Grapefruit', [10, 20, 30], (5, 15, 25))

In [ ]:
# Change value
# tuple1[0] = 'pink grapefruit' # We can't change values in tuples once created
# Grading: -1

4. Print the length of tuple1

In [5]:
# Print
print(len(tuple1))

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [6]:
# Sum all elemenets of tuple2
# Step 1: Flatten the nested lists
flattened_list = [item for sublist in tuple2 for item in sublist]

# Step 2: Use the map function to convert each element to an integer
integer_list = list(map(int, flattened_list))

# Step 3: Use the sum function to calculate the sum of all integers
total_sum = sum(integer_list)

# Print the result
print("Sum of all elements in tuple2:", total_sum)

Sum of all elements in tuple2: 42

6. (Opcional) Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [7]:
# New tuple
# Function to divide each element in a list by 2
def divide_by_two(lst):
    return [x / 2 for x in lst]

# Applying the function using map to create tuple3
tuple3 = tuple(map(divide_by_two, tuple2))

# Print the result
print("tuple3 with half values of tuple2:", tuple3)

tuple3 with half values of tuple2: ([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

# 5. Strings

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [8]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [9]:
# Drop duplicated blank spaces
# Step 1: Split the string into a list of words
words = str1.split()
# Al usar el método split sin ningún argumento divide la cadena en una lista de palabras, utilizando cualquier espacio en blanco (incluidos los espacios duplicados) como separador.

# Step 2: Join the words into a new string with a single space between them
new_str1 = ' '.join(words)
# La función de unión se utiliza para unir las palabras en una nueva cadena. Esto elimina efectivamente los espacios duplicados entre palabras y los reemplaza con un solo espacio.

# Print the result
print(new_str1)

I am too old

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [10]:
# Number of letters
num_letters = len([char for char in new_str1 if char.isalpha()])

# Print the result
print("Number of letters in the string:", num_letters)

Number of letters in the string: 9

3. (Optional) Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [11]:
# Number of blanck spaces
# Get the number of blank spaces in the string
num_blank_spaces = len([char for char in str1 if char.isspace()])

# Print the result
print("Number of blank spaces in the string:", num_blank_spaces)

Number of blank spaces in the string: 85

# 6. NumPy

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [18]:
prueba1 = np.random.randint(0,10,500)
prueba1

array([0, 9, 0, 1, 1, 5, 3, 2, 1, 1, 3, 6, 5, 5, 9, 6, 6, 5, 9, 7, 5, 0,
       2, 8, 6, 1, 1, 9, 6, 2, 4, 2, 8, 9, 0, 3, 7, 8, 4, 0, 8, 8, 6, 4,
       9, 6, 5, 8, 2, 7, 6, 6, 5, 8, 1, 8, 2, 5, 1, 7, 8, 7, 5, 0, 6, 6,
       9, 7, 0, 7, 3, 4, 6, 8, 4, 7, 8, 6, 2, 0, 3, 8, 2, 1, 5, 8, 2, 3,
       4, 3, 3, 4, 5, 0, 8, 5, 2, 6, 0, 5, 8, 7, 5, 0, 7, 2, 0, 7, 7, 3,
       6, 9, 5, 5, 4, 8, 2, 8, 6, 8, 0, 6, 9, 1, 8, 8, 3, 3, 3, 4, 2, 5,
       3, 6, 4, 1, 1, 9, 9, 3, 3, 7, 4, 9, 7, 8, 4, 3, 1, 9, 2, 5, 1, 4,
       1, 3, 1, 0, 3, 9, 6, 7, 7, 1, 4, 5, 6, 3, 6, 6, 9, 8, 2, 7, 0, 6,
       6, 9, 0, 4, 1, 5, 0, 8, 5, 3, 0, 0, 2, 9, 0, 8, 4, 0, 0, 2, 8, 7,
       3, 5, 3, 9, 4, 9, 7, 3, 7, 5, 5, 7, 2, 7, 1, 7, 8, 3, 2, 1, 0, 1,
       1, 2, 8, 3, 7, 7, 9, 3, 1, 9, 5, 6, 4, 8, 7, 9, 2, 9, 1, 0, 6, 7,
       4, 9, 2, 2, 9, 9, 7, 0, 6, 8, 5, 1, 7, 3, 9, 0, 3, 5, 5, 8, 6, 7,
       3, 8, 3, 5, 9, 5, 4, 2, 8, 1, 4, 6, 3, 9, 6, 1, 5, 5, 6, 8, 3, 8,
       2, 8, 1, 0, 5, 9, 1, 1, 0, 7, 7, 4, 2, 2, 8, 4, 6, 7, 0, 4, 7, 7,
       5, 7, 3, 7, 9, 2, 0, 2, 5, 3, 8, 2, 5, 0, 6, 2, 2, 4, 8, 3, 6, 2,
       8, 4, 4, 0, 2, 5, 7, 7, 6, 8, 7, 2, 2, 4, 2, 9, 7, 9, 9, 3, 7, 2,
       7, 3, 0, 8, 8, 0, 9, 6, 3, 4, 9, 9, 4, 6, 8, 3, 9, 7, 7, 5, 2, 7,
       3, 6, 2, 4, 5, 7, 8, 1, 3, 5, 3, 5, 9, 3, 8, 0, 9, 9, 3, 9, 9, 6,
       2, 3, 6, 2, 8, 6, 6, 1, 6, 6, 2, 1, 6, 5, 9, 5, 5, 9, 8, 4, 0, 8,
       3, 6, 6, 0, 1, 0, 4, 9, 9, 5, 3, 9, 4, 5, 9, 8, 1, 6, 1, 2, 3, 3,
       4, 7, 0, 2, 6, 2, 4, 2, 2, 3, 1, 4, 9, 6, 6, 8, 7, 9, 1, 0, 2, 6,
       5, 1, 5, 7, 1, 4, 5, 8, 5, 5, 0, 9, 8, 8, 1, 8, 2, 1, 7, 8, 3, 8,
       2, 6, 5, 1, 4, 0, 5, 8, 3, 4, 6, 5, 5, 4, 2, 3])

In [19]:
prueba2 = np.arange(50)
np.random.shuffle(prueba2)
prueba2

array([12, 16, 41, 37, 15, 33, 43, 45, 11,  7, 47, 36, 42, 18, 46, 25,  6,
        1, 34,  9, 27, 40, 20,  0, 21, 23,  2, 39, 30, 44,  4, 26, 31, 24,
       48, 32,  5, 28, 38,  8, 10, 13, 19, 14,  3, 49, 17, 35, 29, 22])

a. Find the most frequent value in the prueba1 array?

In [20]:
# Most frequent value
import statistics as stat
moda=stat.mode(prueba1)
print(moda)

8

b. Convert the 1D array prueba2 to a 2D array with 5 rows

In [22]:
# Reshape
prueba2_2d = prueba2.reshape(5,10)
prueba2_2d

array([[12, 16, 41, 37, 15, 33, 43, 45, 11,  7],
       [47, 36, 42, 18, 46, 25,  6,  1, 34,  9],
       [27, 40, 20,  0, 21, 23,  2, 39, 30, 44],
       [ 4, 26, 31, 24, 48, 32,  5, 28, 38,  8],
       [10, 13, 19, 14,  3, 49, 17, 35, 29, 22]])